.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: linear-gradient(to right, #0b071b, #130c2e); // degradado oscuro
  border-bottom: 2px solid #e60012;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5); // sombra inferior

  .navbar-logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
  }

  .navbar-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;

    li {
      a {
        color: white;
        text-decoration: none;
        font-weight: 500;
        transition: color 0.3s;

        &:hover {
          color: #e60012;
        }

        i {
          font-size: 1.2rem;
        }
      }
    }
  }
}
