<section class="resources-section">
  <div class="overlay">
    <h2 class="section-title">RECURSOS</h2>
    <div class="resources-grid">
      <div class="resource-card">
        <span class="icon">📚</span>
        <h3>Blog / Artículos</h3>
        <p>Lecturas y reflexiones para ampliar tu conocimiento.</p>
        <a routerLink="/blog-articulos" class="btn-more">Más información</a>
      </div>
      <div class="resource-card">
        <span class="icon">📂</span>
        <h3>Materiales Descargables</h3>
        <p>Guías, plantillas y recursos prácticos listos para usar.</p>
        <a routerLink="/book" class="btn-more">Más información</a>
      </div>
      <div class="resource-card">
        <span class="icon">📖</span>
        <h3>Libro: "Whatchumean?! Whatchusay?!"</h3>
        <p>Una lectura para explorar nuevos horizontes.</p>
        <a routerLink="/book" class="btn-more">Más información</a>
      </div>

    </div>
  </div>
</section>
