<section class="videos-section">
  <div class="videos-header">
    <h2 class="section-title">Nuestros Videos</h2>
    <p class="section-subtitle">Explora nuestro contenido audiovisual y descubre nuevas perspectivas.</p>
  </div>
<div class="videos-grid">
  <div class="video-card">
    <div class="video-wrapper">
      <iframe src="https://www.youtube.com/embed/IKf21MLQ3hI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="video-content">
      <h3 class="video-title">Consultoría + Mentoría para empresas: Testimonio Spanish55</h3>
      <p class="video-description">Una breve y atractiva descripción de lo que trata este video y por qué vale la pena verlo.</p>
    </div>
  </div>

  <div class="video-card">
    <div class="video-wrapper">
      <iframe src="https://player.vimeo.com/video/967292388" title="Vimeo video player" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="video-content">
      <h3 class="video-title">Título del Video 2</h3>
      <p class="video-description">Una breve y atractiva descripción de lo que trata este video y por qué vale la pena verlo.</p>
    </div>
  </div>

  <div class="video-card">
    <div class="video-wrapper">
      <iframe src="https://player.vimeo.com/video/967292218" title="Vimeo video player" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="video-content">
      <h3 class="video-title">Título del Video 3</h3>
      <p class="video-description">Una breve y atractiva descripción de lo que trata este video y por qué vale la pena verlo.</p>
    </div>
  </div>
</div>
</section>